body{
  background-color: rgb(231, 197, 240);
  color:rgb(90, 7, 90);
  font-family: serif;
 
}

/* Opening Page */
.openingContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);

} 

.links{
  padding: 2%;
  text-align: center;
}

.homeL{
  grid-column: 2;
  grid-row: 1;
  color: rgb(231, 197, 240);
  padding: 1%;
  font-size: 22px;
  background-color: rgb(90, 7, 90);
  text-align: center;
}

.aboutMeL{
  color: rgb(231, 197, 240);
  grid-column: 1;
  grid-row: 2;
  padding: 1%;
  font-size: 22px;
  background-color: rgb(90, 7, 90);
  text-align: center;
  margin-bottom: 3%;
}

.projectsL{
  color: rgb(231, 197, 240);
  grid-column:2;
  grid-row: 2;
  padding: 1%;
  font-size: 22px;
  background-color: rgb(90, 7, 90);
  text-align: center;
  margin-bottom: 3%;
}

.contactL{
  color: rgb(231, 197, 240);
  grid-column: 3;
  grid-row: 2;
  padding: 1%;
  font-size: 22px;
  background-color: rgb(90, 7, 90);
  text-align: center;
}

.welcome{
  grid-column: 1/4;
  grid-row: 3/6;
  font-size: 20vh;
  text-align: center;
  margin-top: 15%;
}

/* ********************************************** */
/* About Me Page */

.aboutMeContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 56vh;
}

.imageMe{
  margin-top: 10%;
  grid-column: 1;
  grid-row: 1/3;
}

.imageSize{
  width: 100%;
}

.aboutMeText{
  font-size: 25px;
  grid-column: 2/4;
  grid-row: 1/3;
  margin-left: 5%;
  margin-top: 15%;
}

.logo{
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/4;
  text-align: right;
  margin-top: 40%;
  
}

.logoSize{
  width: 35%;
}

.resume{
  grid-column: 3/4;
  grid-row: 2/4;
  text-align: left;
  padding-left: 25%;
  padding-top: 25px;
  margin-top: 45%;
}

.resumeLink{
  font-size: 22px;
  font-weight: bold;
  background-color: rgb(90, 7, 90);
  padding: 1%;
  color: pink;
  
}

/* ************************************************ */
/* Projects Page */

.projectsContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr 1fr 1fr);
  height: 55vh;
}

.htmlLogo{
  width: 30%;

}

.html{
  grid-column: 1;
  grid-row: 2;
  padding: 5%;
  padding-top: 25%;

}

.cssLogo{
  width: 22%;
 
}

.css{
  grid-column: 2;
  grid-row: 2;
  padding: 5%;
  padding-top: 25%;
}

.jsLogo{
  width: 22%;
}

.js{
  grid-column: 3;
  grid-row: 2;
  padding: 5%;
  padding-top: 25%;
}

.reactLogo{
  margin-top: 7%;
  width: 25%;
  background-color: rgb(90, 7, 90);
  
}

.react{
  grid-column: 4;
  grid-row: 2;
  padding: 5%;
  padding-top: 25%;
}

.dreamImage{
  width: 48%;
  border: 6px solid rgb(90, 7, 90);
}

.textDescription{
  width: 40%;
  margin-left: 30%;
 
}

.zodiacImage{
  width: 45%;
  border: 6px solid rgb(90, 7, 90);
}

.favoritesImage{
  width: 45%;
  border: 6px solid rgb(90, 7, 90);
}

.projectLinks{
  color: red;
}

.project1{
  grid-column: 1/3;
  grid-row: 3;
  margin-top: 10%;
  margin-right: 3%;
}

.project2{
  grid-column: 2/4;
  grid-row: 3;
  margin-top: 10%;
  margin-right: 3%;
}

.project3{
  grid-column: 3/5;
  grid-row: 3;
  margin-top: 10%;
  margin-right: 3%;
}

/* ************************************************ */
/* Contact Page */

.contactContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nameInput{
  grid-column: 2;
  padding: 5%;
  margin-top: 5%;
  font-size: 25px;
}

.emailInput{
  grid-column: 2; 
  padding: 5%;
  font-size: 25px;
}

.messageInput{
  grid-column: 2;
  padding: 5%;
  font-size: 25px;
}

.buttonPlace{
  grid-column: 2;
}

.submitButton{
  background-color: rgb(90, 7, 90);
  color: rgb(231, 197, 240);
  height: 35px;
  width: 140px;
  font-size: 19px;
  font-family: serif;
  margin-top: 10px;
  font-weight: bold;
}

.inputBox{
  background-color: rgb(90, 7, 90);
  color: rgb(231, 197, 240);
  height: 32px;
}

.messageBox{
  background-color: rgb(90, 7, 90);
  color: rgb(231, 197, 240);
}

.displayInParent{
  grid-column: 2;
}
