body{
  /* background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-image-of-the-summer-flowering-bulbous-royalty-free-image-931820550-1542831041.jpg); */
  color:white;
  font-family: sans-serif;
  width: 100%;
  background-color: rgba(44, 2, 44, 0.466);
}

/* Opening Page */

.bg-dark{
  color: white;
  font-size: 120%;
}

.variant-blue{
  color: pink;
}

.navBar{
  background-color: green;
}

.linkColor{
  color: white;
}

.linkColor:hover{
  text-decoration: none;
  color: white;
}

.nav-link{
  color: white;
  /* background-color: rgba(61, 6, 61, 0.589); */
  border-radius: 2%;
}

.nav-link:hover{
  color: white;
  background-color: rgba(75, 9, 75, 0.568);
  text-decoration: none;
}

/* .mr-auto{
  background-color: rgba(255, 255, 255, 0.514);;
} */

.homeL{
  padding: 1%;
  font-size: 120%;
  font-weight: bold;
} 
/* .linkColor{
  background-color: rgba(255, 255, 255, 0.514);
} */

/* .linkColor:hover{
 background-color: rgba(128, 0, 128, 0.288);
} */


/* .openingContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}  */

/* .welcome{
  grid-column: 1/4;
  grid-row: 3/6;
  font-size: 18vh;
  text-align: center;
  margin-top: 12%; 
} */

/* ********************************************** */
/* About Me Page */

.aboutMeContainer{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  /* grid-template-rows: repeat(3,1fr); */
  width: 100%;
  margin-top: 6%;
}

.imageMe{
  grid-column: 2/3;
  /* margin-top: 14%; */
}

.imageSize{
  margin-left: 14%;
  border: 8px solid rgb(51, 50, 50);
  border-radius: 8%;
  width: 135%;
}

.aboutMeText{
  font-size: 3vh;
  grid-column: 4/6;
  /* grid-row: 1; */

}

.logo{
  grid-column: 3/4;
}

/* ************************************************ */
/* Projects Page */

.projectsContainer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1%;
}

/* .htmlLogo{
  width: 60%;
}

.html{
  grid-column: 6;
  grid-row: 4;
  padding: 5%;
  padding-top: 25%;
}

.cssLogo{
  width: 45%;
} */

/* .css{
  grid-column: 7;
  grid-row: 4;
  padding: 5%;
  padding-top: 25%;
}

.jsLogo{
  width: 45%;
}

.js{
  grid-column: 8;
  grid-row: 4;
  padding: 5%;
  padding-top: 25%;
}

.reactLogo{
  width: 70%;
}

.react{
  grid-column: 7;
  grid-row: 5;
  padding: 5%;
  padding-top: 15%;
} */

/* .dreamImage{
  width: 425px;
} */
/* 
.journalImage{
  width: 95%;
} */

/* .trexImage{
  width: 425px;
} */

.projectBody{
  background-color: rgba(61, 6, 61, 0.877);
  color: rgb(235, 209, 235);
}

.projectLinks{
  font-weight: bold;
  font-size: 16px;
  color:rgb(231, 213, 236);
  background-color: rgb(31, 29, 29);
  border: 1px solid rgb(31, 29, 29);
  /* border-radius: 8%; */
}

.projectLinks:hover{
  font-weight: bold;
  font-size: 16px;
  color:rgb(231, 213, 236);
  background-color: rgb(22, 1, 26);
  border: 1px solid rgb(22, 1, 26);
}

.githubLinks{
  font-weight: bold;
  font-size: 16px;
  color:rgb(231, 213, 236);
  background-color: rgb(22, 1, 26);
  border: 1px solid rgb(22, 1, 26);
  margin-left: 2%;
}

.githubLinks:hover{
  font-weight: bold;
  font-size: 16px;
  color:rgb(231, 213, 236);
  background-color: rgb(31, 29, 29);
  border: 1px solid rgb(31, 29, 29);

}

.bold{
  font-weight: bold;
}

.cardBorder{
  border: 4px solid rgb(41, 3, 41);
  border-radius: 2%;
} 

.project1{
  grid-column: 1/2;

}

.project2{
  grid-column: 3/4;

}

.project3{
  grid-column: 5/6;

}

/* ************************************************ */
/* Contact Page */

.formSpace{
  height: 54vh;
  width: 100%;
}

.contactForm{
  /* background-color: rgb(22, 2, 22); */
  /* border: 6px solid rgb(22, 2, 22); */
  border-radius: 2%;
  width: 38%;
  height: 86vh;
  /* margin-right: 17px; */
  margin-top: 1%;
  margin-left: 32%;
}

/* *********************************************** */
/* Resume */

.resumePosition{
  margin-top: 1%;
  margin-left: 35%;
}

.resumeComp{
  /* width: 500%; */
  /* height: 700%; */
  /* border: solid 2px rgb(41, 3, 41); */
  border-radius: 5%;
  /* margin-right: 1%; */
}